In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('troop_movements.csv')
df.head()

,timestamp,unit_id,unit_type,empire_or_resistance,location_x,location_y,destination_x,destination_y,homeworld
0,2024-05-21 11:50:49,1,at-st,resistance,6,10,7,4,Zolan
1,2024-05-21 11:50:48,2,at-at,empire,10,1,10,5,Iktotch
2,2024-05-21 11:50:47,3,at-st,resistance,7,10,7,6,Concord Dawn
3,2024-05-21 11:50:46,4,stormtrooper,empire,2,7,9,6,Alderaan
4,2024-05-21 11:50:45,5,x-wing,resistance,10,5,8,6,Kashyyyk

In [14]:
# Create grouped data showing counts of empire vs resistance.
df_empire_or_resistance = df.groupby('empire_or_resistance').count()
df_empire_or_resistance

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld
empire_or_resistance,,,,,,,,
empire,508,508,508,508,508,508,508,508
resistance,492,492,492,492,492,492,492,492

In [16]:
df_homeworld = df.groupby('homeworld').count()
df_homeworld

,timestamp,unit_id,unit_type,empire_or_resistance,location_x,location_y,destination_x,destination_y
homeworld,,,,,,,,
Alderaan,17,17,17,17,17,17,17,17
Aleen Minor,29,29,29,29,29,29,29,29
Bestine IV,23,23,23,23,23,23,23,23
Cerea,19,19,19,19,19,19,19,19
Champala,20,20,20,20,20,20,20,20
Chandrila,19,19,19,19,19,19,19,19
Concord Dawn,20,20,20,20,20,20,20,20
Corellia,17,17,17,17,17,17,17,17
Dagobah,27,27,27,27,27,27,27,27
Dathomir,22,22,22,22,22,22,22,22
Dorin,26,26,26,26,26,26,26,26
Eriadu,21,21,21,21,21,21,21,21
Glee Anselm,29,29,29,29,29,29,29,29
Haruun Kal,22,22,22,22,22,22,22,22
Iktotch,23,23,23,23,23,23,23,23
Iridonia,22,22,22,22,22,22,22,22
Kalee,24,24,24,24,24,24,24,24
Kashyyyk,30,30,30,30,30,30,30,30
Malastare,22,22,22,22,22,22,22,22
Mirial,23,23,23,23,23,23,23,23
Mon Cala,19,19,19,19,19,19,19,19
Muunilinst,24,24,24,24,24,24,24,24
Naboo,19,19,19,19,19,19,19,19
Ojom,35,35,35,35,35,35,35,35
Quermia,21,21,21,21,21,21,21,21
Rodia,17,17,17,17,17,17,17,17
Ryloth,27,27,27,27,27,27,27,27
Serenno,21,21,21,21,21,21,21,21
Shili,25,25,25,25,25,25,25,25
Skako,26,26,26,26,26,26,26,26
Socorro,28,28,28,28,28,28,28,28
Stewjon,29,29,29,29,29,29,29,29
Sullust,29,29,29,29,29,29,29,29
Tatooine,24,24,24,24,24,24,24,24
Tholoth,29,29,29,29,29,29,29,29
Toydaria,26,26,26,26,26,26,26,26
Trandosha,24,24,24,24,24,24,24,24
Troiken,37,37,37,37,37,37,37,37
Tund,25,25,25,25,25,25,25,25
Umbara,20,20,20,20,20,20,20,20
Vulpter,20,20,20,20,20,20,20,20
Zolan,20,20,20,20,20,20,20,20